{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "built",
    "dist",
    "generators",
    "test",
    "templates",
    "**/*.d.ts"
  ],
  "temp-directory": "./dist/.nyc_output",
  "report-dir": "./dist/coverage",
  "reporter": [
    "html",
    "text-summary"
  ],
  "all": true
}
