{
  "extension": [
    ".js"
  ],
  "include": [
    "lib"
  ],
  "temp-directory": "./dist/.nyc_output",
  "report-dir": "./dist/coverage",
  "reporter": [
    "html",
    "text-summary"
  ],
  "all": true
}
