{
  "extension": [
    ".ts"
  ],
  "exclude": [
    "build",
    "dist",
    "src/test",
    "**/*.d.ts"
  ],
  "report-dir": "./dist/coverage",
  "reporter": [
    "html",
    "text-summary"
  ],
  "all": true
}
